/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.navigation {
  display: flex;
  max-height: 100%;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.header {
  background-color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

.navitem {
  padding: 20px;
  list-style-type: none;
  text-align: center;
}

.logo {
  margin: auto 0;
}

._logo {
  height: 50px;
}

.navitem a
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(110, 110, 110);
  font-size: 18px;
}

.navitem a:hover{
  color: brown;
}

.headerbutton
{
  display: block;
  margin: 0;
  padding: 10px 20px 10px 20px;
}

._button{
  margin: auto 0;
}

._button1{
  margin: auto 30px;
}

